
/*Home bar*/

#menu ul {

    font-family: "Archivo";

   height: 50px;
   
    
    background-color: #0d5cf4;
    
    width: 78rem;
    
}

#menu ul li { 

    display: inline;     
}

#menu ul li a {
    margin-top: x;
         
    color: white;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {

    border-bottom:3px solid #162d59;
}

.text-home{
    margin-top: 10rem;
    margin-left: 0rem;
}


.text{
    margin-top: 2000px;
}

.table{
    margin-top: 8rem;
    margin-left: 25rem;
}