#page-landing{    
    font-family: 'poppins';
}

#page-landing {
    color:#0d5cf4;
}

#block1{
    background: white;
    
    
}

#menu ul {
    position: absolute;
    padding: 20px;
    margin:0px;
    background-color: #0d5cf4;
    
    width: 5000rem;
    
}

#menu ul li { 
    display: inline;     
}

#menu ul li a {
    padding: 4px 10px;     
    color: white;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menu ul li a:hover {
    border-bottom:3px solid #162d59;
}

.logo-img{

    position: absolute;
    max-width: 15%;
    margin-top: 5px;
    margin-left:80px;
}

.text-home{
    margin-left: 80rem;
}

.fundo{
    position: absolute;
    background-color: #0d5cf4;
    height:56.9rem;
    width: 120rem;
    margin-top: 10rem;
    margin-left: 5rem;
    
}

.image-port{
    position: absolute;
    max-width: 30%;
    margin-top: rem;
    margin-left: 5rem;
}

.fundo h1{
    position: absolute;
    color: white;
    margin-left: 45rem;
    margin-top: 5rem;
    font-size: 38px;
}

.buttons-container{
    
    justify-content:center;

    margin:3.2rem 0;
}

.buttons-container a {
    width: 20rem;
    height: 7rem;

    border-radius: .8rem;
    
    
    font:700 2.4rem Archivo;

    
    text-decoration: none;
    

    transition:background 0.2s;

    color: #0d5cf4;
}



.buttons-container a.give-classes{
   position: absolute;
    background:#F0F2F5;
    margin-top: 44rem;
    margin-left: 45rem;
}

.buttons-container a.give-classes:hover{
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 12%);
    transform: scale(1.05);
}

.img-activity h3{
    margin-top: 2rem;
    margin-left:4rem;
    
}